* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d2d1d1;
}

.pageHeading {
  margin: 28px 0px 6px 0px;
  color: #eb1818;
  font-size: 80px;
}

.wikipediaLink {
  color: #0b3954;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 14px;
  text-decoration: none;
}

.gridContainer {
  display: grid;
  margin: auto auto;
  box-shadow: 2px 2px 20px 3px #a3a2a2;
  min-height: 500px;
  min-width: 500px;
  max-height: 500px;
  max-width: 500px;
}

.gridCell {
}

.controlsPanelHeading {
  font-size: 24px;
  text-align: center;
  color: #eb1818;
  margin-bottom: 12px;
}

.colorPicker {
  background-color: #d2d1d1;
  border: none;
}

.colorPicker::-webkit-color-swatch {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.controlsButtons {
  width: 250px;
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
}

.colorButton {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  position: relative;
  z-index: 1;
}

.colorButton::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #d2d1d1;
  border-radius: 4px;
  z-index: -1;
}

.colorButton::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(
    to left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  color: transparent;
}

.rainbowButton {
  background-image: linear-gradient(
    to right,
    #ff0000,
    #ffa500,
    #ffff00,
    #008000,
    #0000ff,
    #4b0082,
    #ee82ee
  );
}

.ninetiesButton {
  background: linear-gradient(
    to left,
    #3c9ee7,
    #e7993c,
    #e73c99,
    #3ce746,
    #f8e924
  );
}

.eraserButton {
  background-color: #f5a19d;
}

.clearButton {
  background-color: #fff;
}

footer {
  display: flex;
  color: white;
  background-color: #111111;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  min-width: 100%;
  height: 48px;
}
